@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  background-color: #e0f7fa; /* Light background color */
  background-image: linear-gradient(white 1px, transparent 1px),
    linear-gradient(90deg, white 1px, transparent 1px);
  background-size: 40px 40px; /* Size of the grid squares */
  min-height: 100vh; /* Full height */
}
